.cm-s-hfml  { font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;}
.cm-s-hfml.CodeMirror { background: #2B2B2B; color: #A9B7C6; }

.cm-s-hfml span.cm-pagination { color: #BBB529; }