{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-3">
        <p> Files </p>
        <div class="repo-files"></div>
    </div>
    <div class="col">
        <p class="editor-title"></p>
        <div class="editor"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/files.js') }}"></script>
<script>
    listFiles('OpenPecha', '{{ pecha_id }}', '{{ branch }}');
</script>
<script src="{{ url_for('static', filename='js/editor.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/update.js') }}"></script>

{% endblock %}