{% extends "layout.html" %}
{% block head %}
<!--Fonts-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font.css') }}">

<!-- CodeMirror -->
<script src="{{ url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">

<!-- CodeMirror theme -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codemirror/theme/darcula.css') }}">

<!-- CodeMirror mode -->
<script src="{{ url_for('static', filename='codemirror/addon/mode/simple.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror/mode/hfml/hfml.js') }}"></script>

<!-- CodeMirror adons -->
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='codemirror/addon/display/fullscreen.css') }}">
<script src="{{ url_for('static', filename='codemirror/addon/display/fullscreen.js') }}"></script>

{% endblock %}

{% block title %}Editor{% endblock %}

{% block nav %}
<div class=" container">
    <ul class="nav nav-pills s nav-fill pt-2">
        <li class="nav-item">
            <button type="button" id="files-toggle" class="btn btn-xs btn-info" data-toggle="collapse"
                data-target="#demo">Files</button>
            <!-- <a class="nav-link active" href="{{ url_for('index', pecha_id=pecha_id, branch=branch) }}">Editor</a> -->
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">
                Export
            </a>
            <div class="dropdown-menu">
                <form class="px-3 py-1" action="{{ url_for('apply_layers', pecha_id=pecha_id, branch=branch) }}"
                    method="post">
                    <fieldset class="form-group">
                        <b>Choose layers:</b>
                        {% for layer in layers %}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="layers" value="{{ layer }}">
                            <label class="form-check-label">
                                <i>{{ layer }}</i>
                            </label>
                        </div>
                        {% endfor %}
                        <b>Choose Format:</b>
                        {% for format in formats %}
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="format" value="{{ format }}">
                            <label class="form-check-label">
                                <i>{{ format }}</i>
                            </label>
                        </div>
                        {% endfor %}
                    </fieldset>
                    <button type="submit" class="btn btn-sm btn-outline-primary btn-block">Apply</button>
                </form>
            </div>
        </li>
        {% if is_owner %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('update', pecha_id=pecha_id, branch=branch) }}">
                <button type="button" class="btn btn-sm btn-outline-primary">Update</button>
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout', pecha_id=pecha_id, branch=branch) }}">
                <button type="button" class="btn btn-link">Logout</button>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-3 scrollbar collapse" id="demo">
        <div class="repo-files" id="file-list"></div>
    </div>
    <div class="col" id="editor-section">
        <div id="editor"></div>
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='js/github.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/files.js') }}"></script>
<script type="module">
    import { listFiles } from "{{ url_for('static', filename='js/files.js') }}";

    listFiles('OpenPecha', '{{ pecha_id }}', '{{ branch }}');
</script>
<script type="module" src="{{ url_for('static', filename='js/editor.js') }}"></script>
{% endblock %}